@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Brush+Script&display=swap');

/* 이용권 가이드 */
.zpayGBox {padding:25px 0 22px 40px; margin-bottom:19px; border:1px solid #d9dfe3;}
.zpayGBox .zpayGBlist>li {
	margin-top:7px; font-size:12px; line-height:27px; color:#687b8a;
	font-family: "굴림", Gulim, Arial, sans-serif;
}
.zpayGBox .zpayGBlist>li:first-child {margin-top:0;}
.zpayGBox .zpayGBlist>li .zGDpoint {color:#2268c3;}
.zpayGBox .zpayGBlist>li>dl {overflow:hidden;}
.zpayGBox .zpayGBlist>li>dl>dt {padding:0 5px 0 20px; float:left; clear:left;} 
.zpayGBox .zpayGBlist>li>dl>dd {margin-left:82px;}
.zpayGBox .zpayGBlist>li.zpaySPR>dl>dd {margin-left:107px;}
.zpayGBox .zpayGBlist>li.zpayPG1>dl>dd {margin-left:115px;}
.zpayGBox .zpayGBlist>li>dl>dt,
.zpayGBox .zpayGBlist>li>dl>dd {
	font-size:12px; line-height:21px; color:#687b8a;
	font-family: "굴림", Gulim, Arial, sans-serif;
}
.zpayGBox .zpayGBlist>li>dl>dd a.zpayPgtxt {font-weight:600; color: #3c6a8d; display: inline-block;}
.zpayGBox .zpayGBlist>li>dl>dd .zpGimg {padding:0 3px 0 7px; margin-top:-2px; display:inline-block; vertical-align:top;}
.zpayGBox .zpayGBlist>li.zpayGDwon>dl>dt {background:url(/images/zocbo_rn/sub/common/ico_zpayGDwon.gif) no-repeat 0 3px;}
.zpayGBox .zpayGBlist>li.zpayGBarotest>dl>dt {background:url(/images/zocbo_rn/sub/common/ico_zpayGBarotest.gif) no-repeat 0 3px;}
.zpayGBox .zpayGBlist>li.zpayGE>dl>dt {background:url(/images/zocbo_rn/sub/common/ico_zpayGE.gif) no-repeat 0 3px;}
.zpayGBox .zpayGBlist>li.zpayGVD>dl>dt {background:url(/images/zocbo_rn/sub/common/ico_zpayGVD.gif) no-repeat 0 3px;}
.zpayGBox .zpayGBlist>li.zpaySPR>dl>dt {background:url(/images/zocbo_rn/sub/common/ico_zpaySPR.png) no-repeat 0 50%;}
.zpayGBox .zpayGBlist>li.zpayPAmaster>dl>dt {background:url(/images/zocbo_rn/sub/common/ico_zpayPAmaster.png) no-repeat 0 2px;}
.zpayGBox .zpayGBlist>li.zpayPG1>dl>dt {background:url(/images/zocbo_rn/sub/common/ico_zpayPrego1.png) no-repeat 0 2px;}
.zpayCombtn {font-size:0; text-align:center;}
.zpayCombtn>a {display:inline-block; margin-left:6px;}
.zpayCombtn>a:first-child {margin-left:0;}
.rnpaySection2 {width:100%; height:101px; background:url(/images/zocbo_rn/sub/common/rnpayBandimg.gif) no-repeat center top;}
.rnpaySection3 {width:100%; padding:50px 0 64px 0; background:#f5f7f9; border-top:1px solid #fff;}
.rnpaySection3  .tmenu> li {border:1px solid #bec1c8; letter-spacing:-1px; background:#fff; border-top:0; position:relative;}
.rnpaySection3 .tmenu> li:first-child{border-top:1px solid #bec1c8;}
.rnpaySection3  .tmenu> li.active {border:1px solid #637081;}
.rnpaySection3 .tmenu dt span {
	display:inline-block;
	font-size:16px; color:#1b2d3c; height:43px;
	font-family: Dotum,'돋움',Helvetica,"Apple SD Gothic Neo",sans-serif;
	font-weight:bold; line-height:48px;
	word-spacing: -1px; letter-spacing:-1px;
}
.rnpaySection3 .tmenu dt span.fstxt {
	width:43px; min-height:43px; margin-right:10px; text-align:center;
	background:url(/images/zocbo_rn/sub/common/rnpaybar1x17.gif) no-repeat right center;
}
.rnpaySection3 .tmenu dt p {font-size:100%; width:88%; color:#3a3a3a;}
.rnpaySection3 .tmenu dt {min-height:43px; background:#fff; position:relative;}
.rnpaySection3 .tmenu dt a {display:block; cursor:pointer;}
.rnpaySection3 .tmenu dl.more-mode dt a {cursor:pointer;}
.rnpaySection3 .tmenu dl.more-mode dt em {display:block;}
.rnpaySection3 .tmenu dd {
	padding:20px 0 40px 0; display:none; border-top:1px solid #637081; background:#fff;
}
.rnpaySection3 .tmenu .qAlist>li {
	width:94%; float:left; position:relative; 
	font-size:14px; color:#545f6b; line-height:28px;
	font-family: Dotum,'돋움',Helvetica,"Apple SD Gothic Neo",sans-serif;
	word-spacing:0; letter-spacing:-1px;
}
.rnpaySection3 .tmenu .qAlist>li:first-child {
	width:43px; margin-right:10px;
	font-size:16px; color:#1b2d3c;
	font-family: 'Noto Sans Korean', Sans-Serif;
	font-weight:300; word-spacing: 0; text-align:center;
	background:url(/images/zocbo_rn/sub/common/ico_qAlist.gif) no-repeat right 6px;
}
.rnpaySection3 .tmenu dd li b {font-weight:600; font-size:95%; position:absolute; left:2.5em; top:.6em; color:#333;}
.rnpaySection3 .tmenu li dt em {
	position:absolute; width:15px; height:11px; right:17px; top:18px;
	background:url(/images/zocbo_rn/sub/common/arrow_up.gif) no-repeat;
}
.rnpaySection3 .tmenu li dt em.on {background:url(/images/zocbo_rn/sub/common/arrow_down.gif) no-repeat;}
.rnpayPlus {position:absolute; right:2px; top:10px;}

.rnpaySection3 .tmenu> li .qAttl {word-spacing:0; margin-bottom:10px;}
.rnpaySection3 .tmenu> li .qAttllist {}
.rnpaySection3 .tmenu> li .qAttllist>li {word-spacing:0; }
.qAGab {padding-left:12px;}
.qAPoint {color:#000;}
.qAPoint.qAPointdeco {color:#000; text-decoration:underline;}
.zpayPointTop {margin-bottom:31px;}
.zpayPointTable {border-top:1px solid #444; border-bottom:1px solid #444;}
.zpayPointTable tbody tr td {height:135px; border-top:1px solid #f5f5f5;}
.zpayPointTable tbody tr td.zppBoxTd {text-align:right;  background:url(/images/zocbo_rn/sub/common/zppointbar1x58.gif) no-repeat right center;}
.zpayPointTable tbody tr:first-child {border-top:none;}

.zpayPointTable .usebuy_chekdiv .usebuy_cheklist>li:last-child {margin:0 0 0 0;}
.zpayPointTable .usebuy_chekdiv .usebuy_cheklist>li label{
	display: inline-block;
	height: 18px;
	padding-left: 17px;
	background: url(/Images/zocbo_rn/sub/common/chbox_h14.png) no-repeat left 3px;
	font-size: 15px;
	line-height: 20px;
	color: #434343;
	letter-spacing: -1px;
	font-family: 'Noto Sans Korean', Sans-Serif;
	font-weight:400;
	cursor: pointer; word-spacing: 0;
}
.zpayPointTable .usebuy_chekdiv .usebuy_cheklist>li input[type="checkbox"]:checked + label{
	background: url(/Images/zocbo_rn/sub/common/chbox_h14on.png) no-repeat;
	background-position: left -25px;
}
.zpayPointTable .usebuy_chekdiv .usebuy_cheklist>li input[type="checkbox"]:disabled + label{
	background-position: left 3px;
}
.zppBox {padding-right:28px;}
.zppBox .zpptop {
	padding:0 11px 9px 0; font-size:21px; line-height:21px; color:#999;
	font-weight: 400; word-spacing:0; letter-spacing:-1px; position:relative;
	font-family:'Roboto','Noto Sans KR', sans-serif;
}
.zppBox .zpptop span {
	font-size:18px;
	font-family: 'Noto Sans Korean', Sans-Serif;
	font-weight: 400; word-spacing:0; letter-spacing:-1px; 
}
.zppBox .zpptop em {margin-top:1px;}
.zppBox .zpptop:before {
    content:"";
    width:136px;
    height:15px;
	position:absolute;
	right:0; top:10px;
	background:url(/images/zocbo_rn/sub/common/bg_tdecoGray.png) no-repeat;
}

.zppBox .zppBot span {
	font-size:20px; font-family: 'Noto Sans Korean', Sans-Serif;
	font-weight: 500; word-spacing:0; letter-spacing:-1px; 
}

.zppBox .zppBot {width:86%; padding-left:30px; display:table; text-align:right;}
.zppBox .zppBot span {display:table-cell; vertical-align:middle;}
.zppBox .zppBot span.zppBottxt {
	font-size:20px; font-family: 'Noto Sans Korean', Sans-Serif;
	font-weight: 500; word-spacing:0; letter-spacing:-1px; 
}
.zppBox .zppBot span.zppBottxt2 {
	font-size:32px; line-height:32px; color:#061724;
	font-weight: 700; word-spacing:0; letter-spacing:-1px; position:relative;
	font-family:'Roboto','Noto Sans KR', sans-serif;
}
.zppBox .zppBot span.zppBottxt3 {
	font-size:20px; font-family: 'Noto Sans Korean', Sans-Serif;
	font-weight: 500; word-spacing:0; letter-spacing:-1px; 
}




/* 2020 이용권구매 고정바 */
#useBuybar.rn_2020useBuybar {width:100%; height:118px; position:fixed; z-index:1000; left:0; bottom:0; background:#12304f; border-top:1px solid #183350;}
#useBuybar.rn_2020useBuybar .ucnt {width:1019px; margin:0 auto; position:relative;}
#useBuybar.rn_2020useBuybar .ucnt .numb_select {
	padding:28px 0 7px 45px; 
	display:table;
}
#useBuybar.rn_2020useBuybar .ucnt .numb_select span {
	display:table-cell;
	font-size:17px; color:#fff; line-height:24px;
	font-family: 'NanumBareunGothicLight', Sans-Serif;
	letter-spacing:0; word-spacing:0; vertical-align:bottom;
}
#useBuybar.rn_2020useBuybar .ucnt .numb_select .numbS {
	padding-right:0; color:#fff; font-size:17px; line-height:24px;
	font-weight:normal;
}
#useBuybar.rn_2020useBuybar .numb_result {padding-left:45px; display:table;}
#useBuybar.rn_2020useBuybar .numb_result span {
	padding-right:0; display:table-cell;
	font-size:30px; color:#fff; line-height:38px;
	font-family: 'Noto Sans Korean', Sans-Serif;
	font-weight:500;
	letter-spacing:0; word-spacing:0; vertical-align:bottom;
}
#useBuybar.rn_2020useBuybar .numb_result .numbR {font-size:30px; line-height:38px; color:#fff; font-weight:500;}
#useBuybar.rn_2020useBuybar .paymentToll {
	width:432px; height:108px; position:absolute; right:0; top:5px;
	background:url(/images/zocbo_rn/sub/common/uBbar1x108.gif) no-repeat 0 50%;
}
#useBuybar.rn_2020useBuybar .paymentToll .paymentToll_list {padding-top:16px; text-align:right;}
#useBuybar.rn_2020useBuybar .paymentToll .paymentToll_list>li {
	margin-top:16px; font-size:12px; color:#fff;
	font-family: "굴림", Gulim, Arial, sans-serif;
}
#useBuybar.rn_2020useBuybar .paymentToll .paymentToll_list>li:first-child {margin-top:0;}
#useBuybar.rn_2020useBuybar .paymentToll .paymentToll_list>li .btnCom {
	width:140px; height:39px; text-align:center;
	font-size:17px; color:#fff; line-height:39px;
	font-family: 'Noto Sans Korean', Sans-Serif;
	font-weight:500; 
	-webkit-box-shadow:5px 5px #0c223c;
	-moz-box-shadow:5px 5px #0c223c;
	box-shadow: 5px 5px #0c223c;
}
#useBuybar.rn_2020useBuybar .paymentToll .paymentToll_list>li .btnBasket {margin-right:8px; background:#2a7bd0; color:#fff;}
#useBuybar.rn_2020useBuybar .paymentToll .paymentToll_list>li .btnBuy {background:#fff; color:#0d3157;}
#useBuybar.rn_2020useBuybar .paymentToll_list>li input {margin-right:7px;}
#useBuybar.rn_2020useBuybar .paymentToll_list>li label{
	display: inline-block;
	height: 20px;
	padding-left: 18px;
	background: url(/Images/zocbo_rn/sub/common/chbox_h14.png) no-repeat left top;
	background-position: left bottom;
	font-size: 15px;
	line-height: 26px;
	color: #fff;
	font-family: 'Noto Sans Korean', Sans-Serif;
	font-weight: 300;
	letter-spacing: 0;
	word-spacing: 0;
	cursor: pointer;
}
#useBuybar.rn_2020useBuybar .paymentToll_list>li input[type="checkbox"]:checked + label{
	background: url(/Images/zocbo_rn/sub/common/chbox_h14on.png) no-repeat;
	background-position: left bottom;
}
#useBuybar.rn_2020useBuybar .paymentToll_list>li input[type="checkbox"]:disabled + label{
	background-position: left bottom;
}
#useBuybar.rn_2020useBuybar .paymentToll_list>li .lookinner {margin:4px 0 0 4px; display:inline-block; vertical-align:top;}
.userbuy_body {background: #f8f8f8;}
.userbuy_wpop.rn_buypage {width:100%; margin:0 auto;}
.userbuy_wpop.rn_buypage .rn_matters_note {margin:0; height:auto; border:none;}

/*--------------------------------------------------
			 이용권
--------------------------------------------------*/
.zElembuycont .buyTabTop {margin-bottom:35px; position:relative;}
.zElembuycont .buyTabTop .terms_list {right:21px; top:56px;}
.zElembuycont .buyTabTop .buyinfotxt {right:21px; top:85px;}
.zElembuycont .zEbuy_info {margin-top:19px;}
.zElembuycont .zEbuy_info .ttl {
	margin-bottom:10px; font-size:18px; line-height:24px; color:#343434;
	font-family: 'NanumBarunGothicBold', Sans-Serif;
}
.zElembuycont .zEbuy_info .desc {
	margin-bottom:6px; font-size:14px; line-height:18px; color:#343434;
	font-family: 'NanumBarunGothic', Sans-Serif;
}
.zElembuycont .zEbuy_info .desc span {padding-left:35px; color:#3679d4;}
.zElembuycont .zEbuy_info .desc span.first {padding-left:0}
.zElembuycont .matters_note {margin-top: 52px;}


.zElembuycont .titleH2 {padding-bottom: 38px;}
.zElembuycont .buyinfomation {padding:0; margin-bottom: 28px; background:none;}
.zElembuycont .buyinfomation .ttlA {margin-bottom:15px;}
.zElembuycont .buyinfomation .ttlA span.ttl {font-size: 28px; line-height: 30px;}
.zElembuycont .useBuytable tbody tr th {padding: 22px 17px 25px 17px;}
.zElembuycont .useBuytable tbody tr td {padding: 22px 17px 25px 17px;}

.zElembuycont .buydescul>li {
	font-size: 16px; line-height: 28px; color:#333;
	font-family: 'NanumBarunGothic', Sans-Serif;
}
.zElembuycont .buyinfotxt {right:0px; top:12px;}
.zElembuycont .use_numbRadiolist>li {width:90px; float:left; line-height:24px;}
.choice_prdDiv {*zoom:1}
.choice_prdDiv:after {content:""; display:block; clear:both;}
.choice_prdDiv .choice_prdCnt {margin-top:25px; float:right;}
.choice_prdCntList {overflow:hidden;}
.choice_prdCntList>li {float:left; margin-left:56px;}
.choice_prdCntList>li:first-child {margin-left:0;}
.choice_prdCntList>li .ttl {
	font-size:20px; line-height:38px; color:#4272d2;
	font-family: 'NanumSquare', Sans-Serif; font-weight: 800;
}

.choice_prdDiv .choice_prdCnt .choice_prdList>li {margin-top:3px;}
.choice_prdDiv .choice_prdCnt .choice_prdList>li:first-child {margin-top:0;}
.choice_prdDiv .choice_prdCnt dl{*zoom:1}
.choice_prdDiv .choice_prdCnt dl:after {content:""; display:block; clear:both;}
.choice_prdDiv .choice_prdCnt dl>dt {
	font-size:20px; line-height:38px; color:#333; text-align:left;
	font-family: 'NanumSquare', Sans-Serif; font-weight: 800;
	display:inline-block;*display:inline; zoom:1;
}
.choice_prdDiv .choice_prdCnt dl>dd {
	width:127px; text-align:right;
	font-size:20px; line-height:38px; color:#343434; text-align:right;
	font-family: 'NanumSquare', Sans-Serif; font-weight: 800;
	display:inline-block;*display:inline; zoom:1;
}
.choice_prdDiv .choice_prdCnt dl>dd .choice_paynumb {color:#f74966; vertical-align:top;}
.choice_prdDiv .choice_prdCnt .choicelistDEL {
	width:23px; height:23px; margin-left:10px; background: url(/Images/zocbo_rn/common/popup/btn_lyClose.png) no-repeat;
	display:inline-block;*display:inline; zoom:1; cursor:pointer; border:none; vertical-align:middle;
} 
.ico2009Rv {
	width:91px; height:18px; margin-right:12px; display:inline-block;*display:inline; zoom:1;
	background: url(/Images/zocbo_rn/sub/ico_2009Revision.jpg) no-repeat left center; vertical-align:middle;
}
.ico2015Rv {
	width:91px; height:18px; margin-right:12px; display:inline-block;*display:inline; zoom:1;
	background: url(/Images/zocbo_rn/sub/ico_2015Revision.jpg) no-repeat left center; vertical-align:middle;
}
.elemzstinfo {padding:20px 0 0 0; font-family: "굴림", Gulim, Arial, sans-serif;}



/*--------------------------------------------------
			 장바구니, 주문/결제. 결제완료
--------------------------------------------------*/
.payCnt {margin-top:25px; position:relative;}
.pay_top_info,
.top_info {
	margin-bottom:21px;
	font-size:12px; line-height:18px; color:#696969;
	font-family: "굴림", Gulim, Arial, sans-serif;
}
.payCnt .payCntul>li {margin-top:61px;}
.payCnt .payCntul>li:first-child {margin-top:0;}
.payCnt .sub_ttl {
	margin-bottom:21px; font-size:16px; line-height:21px; color:#343434; font-weight:bold; 
	font-family:'Malgun Gothic',Verdana, Helvetica, Sans-Serif; letter-spacing:-1px;
}
.payCnt .sub_ttl span {margin-left:5px; font-size:11px;}
.payCnt .desclist>li {
	padding-left:10px; background:url(/Images/zocbo_rn/common/dot_Cross.gif) no-repeat 0 5px;
	font-size:12px; line-height:18px; color:#696969;
	font-family: "굴림", Gulim, Arial, sans-serif;
}
.payCnt .total_paynumb {
	margin-top:23px; font-size:24px; line-height:30px; color:#343434;
	font-family:'Malgun Gothic',Verdana, Helvetica, Sans-Serif; letter-spacing:-1px;
	text-align:center;
}
.payCnt .total_paynumb strong {margin-left:20px;}
.terms_btn_list {position:absolute; right:0; top:4px; overflow:hidden;}
.terms_btn_list>li {width:110px; margin-left:5px; float:left; }
.terms_btn_list>li:first-child {margin-left:0;}
.sortlist>li {margin-top:2px; position:relative;}
.sortlist>li:first-child {margin-top:0;}
.sortlist>li>dl {overflow:hidden;}
.sortlist>li>dl>dt {width:126px; float:left;}
.sortlist>li>dl>dd {float:left;}
.pay_mminfo {display:block; color:#3579d4;}
.payment_amount {width:100%; height:78px; display:table;}
.payment_amount>div {display:table-cell; vertical-align:middle;}
.payment_amount>div.pay_amount_left {
	font-size:12px; color:#343434;
	font-family: "굴림", Gulim, Arial, sans-serif;
	text-align:left; font-weight:bold;
}
.payment_amount>div.pay_amount_right {
	font-size:24px; color:#343434;
	font-family:'Malgun Gothic',Verdana, Helvetica, Sans-Serif; letter-spacing:-1px;
	text-align:right;
}
.payment_amount>div.pay_amount_right strong {margin-left:14px;}
.total_saving_txt {
	font-size:14px; color:#343434;
	font-family:'Malgun Gothic',Verdana, Helvetica, Sans-Serif; letter-spacing:-1px;
	font-weight:bold;
}
.total_saving_numb {
	font-size:25px; color:#f74966;
	font-family:'Malgun Gothic',Verdana, Helvetica, Sans-Serif; letter-spacing:-1px;
	font-weight:bold;
}
.payment_tip {margin-top:30px; padding:32px 40px 38px 40px; border:1px solid #d8d8d8;}
.payment_tip>ul>li {margin-top:21px; position:relative;}
.payment_tip>ul>li:first-child {margin-top:0;}
.payment_tip>ul>li .ttl {
	margin-bottom:15px; font-size:18px; color:#343434;
	font-family:'Malgun Gothic',Verdana, Helvetica, Sans-Serif; letter-spacing:-1px;
	font-weight:bold;
}
.payment_tip>ul>li .desc,
.payment_tip>ul>li .descUl>li {
	font-size:12px; line-height:24px; color:#343434;
	font-family: "굴림", Gulim, Arial, sans-serif;
	text-align:left;
}
.kor_co {margin-left:10px; display:inline-block;*display:inline; zoom:1; vertical-align:top;}
.info_chk_txt {
	padding-left:24px; margin-top:30px; background:url(/Images/zocbo_rn/common/icon_empha_mark.png) no-repeat 0 0;
	font-size:11px; line-height:20px; color:#666;
}
.smt_cmt {padding:15px 0 0 0; font-size:12px; line-height:18px; color:#696969;}
.termslist {margin-top:27px;}
.termslist>li {width:504px; height:174px; margin-left:11px; float:left;}
.termslist>li:first-child {margin-left:0;}
.termslist>li .termbox {
	padding:28px 0 29px 41px;
	background:#f9f9f9;
	border:1px solid #d8d8d8;
}
.termslist>li .termbox .ttl {
	margin-bottom:8px;
	font-size:16px; line-height:20px; color:#000;
	font-family: 'NanumBarunGothic', Sans-Serif;
	word-spacing: 0;
}
.termslist>li .termbox .desc {
	margin-bottom:13px;
	font-size:14px; line-height:19px; color:#000;
	font-family: 'NanumBarunGothic', Sans-Serif;
	word-spacing: 0;
}
.paymentBtn.botbtn>a {word-spacing: 0;}
.kakaoinfoPop {
	padding:20px 20px 16px 20px;
	border:1px solid #c2c2c2; background:#fff;
	position:absolute; left:185px; top:0; z-index:9;
}
.kakaPcnt {position:relative;}
.payCnt .kaka-head-tit {
	margin-bottom:8px; font-size:12px; line-height:16px; color:#757575;
	font-family: 'Dotum','돋움', sans-serif; font-weight:bold;
}
.ttl_kakaP {
	font-size:12px; line-height:16px; color:#757575;
	font-family: 'Dotum','돋움', sans-serif;
}
.kakaPtxtlist {padding:13px 0 23px 0;}
.kakaPtxtlist>li {
	font-size:12px; line-height:16px; color:#757575;
	font-family: 'Dotum','돋움', sans-serif;
}
.kaka-bot_info .txt {
	font-size:12px; line-height:32px; color:#757575;
	font-family: 'Dotum','돋움', sans-serif;
}
.kaka-cadlist {margin-top:8px; overflow:hidden;}
.kaka-cadlist>dt {
	width:35px; float:left; clear:left; display:block;
	font-size:12px; line-height:18px; color:#757575;
	font-family: 'Dotum','돋움', sans-serif;
}
.kaka-cadlist>dd {
	margin-left:35px;
	font-size:12px; line-height:18px; color:#757575;
	font-family: 'Dotum','돋움', sans-serif;
}
.ttl_kakaP .gab {padding-left:8px;}
.kakaPtxtlist>li .gab {padding-left:8px;}
.kakaPcnt  .kakaPclose {width: 56px; height: 32px; padding-top:12px; margin:0 auto; text-align:center;}
.kakaPcnt  .kakaPclose .btnCom {
    width: 56px;
    height: 32px;
    padding: 0;
	display:block;
	background: #515560;
    font-size: 12px;
    line-height: 32px;
	color:#fff;
    font-family: 'NanumBarunGothic', Sans-Serif;
    font-weight: normal;
}

