@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic");
@media screen and (max-width: 589px) {
		#title { 
			display: none;	
		}
		
		}
.pmobi_glist ul li {
    float: left;
    width: 30%;
     padding: 1%;
    margin: 0 0.5% 1% 0.5%;
    border: 1px solid #e6e6e6;
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
		
ul,ol,li{
	list-style : none;
}
		

ul{
	margin-block-start : 1em;
	margin-block-end : 1em;
	margin-inline-start : 0px;
	margin-inline-end : 0px;
	padding-inline-start : 40px;
}		


.pmobi_glist ul{
	display : block;
	overflow : hidden;
}

.pmobi_glist dl dt.glist_dt_T2{
background : #00e207;	
}

.pmobi_glist dl dt {
    float: left;
    width: 35%;
    margin: 1.5% 0% 0% 0;
    padding: 2px 0% 3px 0%;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: -1px;
    text-align: center;
    background: #f39c00;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

.pmobi_glist dl dd{
	
	width : 65%;
	margin : 1.5% 0 -13PX 0;
	padding : 1px 1% 0px 1%;
	display : -webkit-box;
	overflow : hidden;
	text-overflow : ellipsis;
	word-wrap : break-word;
	max-height : 15px;
	font-size : .8em;
	letter-spacing : -1px;
	line-height : 1.36;
	-webkit-line-clamp : 1;
	-webkit-box-orient : vertical;
}


.pmobi-glist dl{
	display: block;
	overflow : hidden;
	width : 100%;
	text-align : left;
}

dl{
	display : block;
	margin-block-start : 1em;
	margin-block-end : 1em;
	margin-inline-start : 0px;
	margin-inline-end : 0px;
}

/* a{
	margin : 0;
	padding : 0;
	vertical-align : baseline;
	background : #fdfdfb;
	text-decoration : none;
} */


.pmobi_glist{
	display : block;
	overflow : hidden;
	width : 100%;
	text-align : center;
	margin : auto;
}

