<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>eventMoa</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!-- Map -->
    <servlet>
    <servlet-name>EventMapFrontController</servlet-name>
    <servlet-class>com.eventmoa.app.map.EventMapFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventMapFrontController</servlet-name>
    <url-pattern>*.map</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>UserFrontController</servlet-name>
    <servlet-class>com.eventmoa.app.user.UserFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserFrontController</servlet-name>
    <url-pattern>*.us</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FreeBoardFrontController</servlet-name>
    <servlet-class>com.eventmoa.app.freeboard.FreeBoardFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FreeBoardFrontController</servlet-name>
    <url-pattern>*.bo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EventBoardFrontController</servlet-name>
    <servlet-class>com.eventmoa.app.eventboard.EventBoardFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventBoardFrontController</servlet-name>
    <url-pattern>*.ev</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReviewBoardFrontController</servlet-name>
    <servlet-class>com.eventmoa.app.reviewboard.ReviewBoardFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewBoardFrontController</servlet-name>
    <url-pattern>*.rb</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/error/404error.jsp</location>
  </error-page>
</web-app>