@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Brush+Script&display=swap');

/*
 KING KI HOON BOARD FORM CSS
 */

.tagManager {
	height: 4rem;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(244, 244, 250);
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
}

.tagNav {
	width: 1024px;
	display: flex;
	height: 100%;
	font-size: 13px;
}

.tagNav-div1 {
	height: 100%;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	margin-right: 2rem;
}

.tagNav-div1::after {
	content: "";
	width: 1px;
	height: 14px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: rgb(210, 210, 210);
	margin-left: 2rem;
	}
.tagNav-div1 .tagNav-div-a {
	color: rgb(255, 80, 88);
}
	
.tagNav-div-a {
	padding-top: 0.5rem;
	font-size: 13px;
}

	
a {
	color: rgb(33, 33, 33);
	text-decoration-line: none;
	text-decoration-style: initial;
	text-decoration-color: initial;
	text-decoration: none;
	cursor: pointer;
}

.tagNav-div2 {
	height: 100%;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	margin-right: 2rem;
}
.tagNav-div2::after {
	content: "";
	width: 1px;
	height: 14px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: rgb(210, 210, 210);
	margin-left: 2rem;
	}
*, ::before, ::after {
	box-sizing: border-box;
	}

/* mainManager */
.mainManager {
	background-image: initial;
	background-position-x: initial;
	background-position-y: initial;
	background-size: initial;
	background-attachment: initial;
	background-origin: initial;
	background-clip: initial;
	background-color: rgb(255, 255, 255);
	font-size: 16px;
}

.mainClass {
	display: block;
	margin-top: auto;
}
.mainManager section {
	display: block;
}
.mainSection{
	margin-bottom: 3rem;
}

.mainManager section h2 {
	height: 100px;
	font-size: 26px !important;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: rgb(30, 29, 41);
	color: black;
}
.mainManager section h2 > span {
	color: rgb(255, 80, 88);
	font-size: 1rem;
	margin-left: 2rem;
}

.ulSection {
	padding-top: 0.5rem;
	}
.mainManager section ol, .mainManager section ul {
	list-style-type: none;
	list-style-position: initial;
	list-style-image: initial;
}

.liSection {
	width: 100%;
	display: flex;
	padding-top: 2rem;
	padding-right: 0px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(220, 219, 228);
}
