@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Brush+Script&display=swap');

/* 이용권 가이드 */
.zpayGBox {padding:25px 0 22px 40px; margin-bottom:19px; border:1px solid #d9dfe3;}
.zpayGBox .zpayGBlist>li {
	margin-top:7px; font-size:12px; line-height:27px; color:#687b8a;
	font-family: "굴림", Gulim, Arial, sans-serif;
}
.zpayGBox .zpayGBlist>li:first-child {margin-top:0;}
.zpayGBox .zpayGBlist>li .zGDpoint {color:#2268c3;}
.zpayGBox .zpayGBlist>li>dl {overflow:hidden;}
.zpayGBox .zpayGBlist>li>dl>dt {padding:0 5px 0 20px; float:left; clear:left;} 
.zpayGBox .zpayGBlist>li>dl>dd {margin-left:82px;}
.zpayGBox .zpayGBlist>li.zpaySPR>dl>dd {margin-left:107px;}
.zpayGBox .zpayGBlist>li.zpayPG1>dl>dd {margin-left:115px;}
.zpayGBox .zpayGBlist>li>dl>dt,
.zpayGBox .zpayGBlist>li>dl>dd {
	font-size:12px; line-height:21px; color:#687b8a;
	font-family: "굴림", Gulim, Arial, sans-serif;
}
.zpayGBox .zpayGBlist>li>dl>dd a.zpayPgtxt {font-weight:600; color: #3c6a8d; display: inline-block;}
.zpayGBox .zpayGBlist>li>dl>dd .zpGimg {padding:0 3px 0 7px; margin-top:-2px; display:inline-block; vertical-align:top;}
.zpayGBox .zpayGBlist>li.zpayGDwon>dl>dt {background:url(/images/zocbo_rn/sub/common/ico_zpayGDwon.gif) no-repeat 0 3px;}
.zpayGBox .zpayGBlist>li.zpayGBarotest>dl>dt {background:url(/images/zocbo_rn/sub/common/ico_zpayGBarotest.gif) no-repeat 0 3px;}
.zpayGBox .zpayGBlist>li.zpayGE>dl>dt {background:url(/images/zocbo_rn/sub/common/ico_zpayGE.gif) no-repeat 0 3px;}
.zpayGBox .zpayGBlist>li.zpayGVD>dl>dt {background:url(/images/zocbo_rn/sub/common/ico_zpayGVD.gif) no-repeat 0 3px;}
.zpayGBox .zpayGBlist>li.zpaySPR>dl>dt {background:url(/images/zocbo_rn/sub/common/ico_zpaySPR.png) no-repeat 0 50%;}
.zpayGBox .zpayGBlist>li.zpayPAmaster>dl>dt {background:url(/images/zocbo_rn/sub/common/ico_zpayPAmaster.png) no-repeat 0 2px;}
.zpayGBox .zpayGBlist>li.zpayPG1>dl>dt {background:url(/images/zocbo_rn/sub/common/ico_zpayPrego1.png) no-repeat 0 2px;}
.zpayCombtn {font-size:0; text-align:center;}
.zpayCombtn>a {display:inline-block; margin-left:6px;}
.zpayCombtn>a:first-child {margin-left:0;}
.rnpaySection2 {width:100%; height:101px; background:url(/images/zocbo_rn/sub/common/rnpayBandimg.gif) no-repeat center top;}
.rnpaySection3 {width:100%; padding:50px 0 64px 0; background:#f5f7f9; border-top:1px solid #fff;}
.rnpaySection3  .tmenu> li {border:1px solid #bec1c8; letter-spacing:-1px; background:#fff; border-top:0; position:relative;}
.rnpaySection3 .tmenu> li:first-child{border-top:1px solid #bec1c8;}
.rnpaySection3  .tmenu> li.active {border:1px solid #637081;}
.rnpaySection3 .tmenu dt span {
	display:inline-block;
	font-size:16px; color:#1b2d3c; height:43px;
	font-family: Dotum,'돋움',Helvetica,"Apple SD Gothic Neo",sans-serif;
	font-weight:bold; line-height:48px;
	word-spacing: -1px; letter-spacing:-1px;
}
.rnpaySection3 .tmenu dt span.fstxt {
	width:43px; min-height:43px; margin-right:10px; text-align:center;
	background:url(/images/zocbo_rn/sub/common/rnpaybar1x17.gif) no-repeat right center;
}
.rnpaySection3 .tmenu dt p {font-size:100%; width:88%; color:#3a3a3a;}
.rnpaySection3 .tmenu dt {min-height:43px; background:#fff; position:relative;}
.rnpaySection3 .tmenu dt a {display:block; cursor:pointer;}
.rnpaySection3 .tmenu dl.more-mode dt a {cursor:pointer;}
.rnpaySection3 .tmenu dl.more-mode dt em {display:block;}
.rnpaySection3 .tmenu dd {
	padding:20px 0 40px 0; display:none; border-top:1px solid #637081; background:#fff;
}
.rnpaySection3 .tmenu .qAlist>li {
	width:94%; float:left; position:relative; 
	font-size:14px; color:#545f6b; line-height:28px;
	font-family: Dotum,'돋움',Helvetica,"Apple SD Gothic Neo",sans-serif;
	word-spacing:0; letter-spacing:-1px;
}
.rnpaySection3 .tmenu .qAlist>li:first-child {
	width:43px; margin-right:10px;
	font-size:16px; color:#1b2d3c;
	font-family: 'Noto Sans Korean', Sans-Serif;
	font-weight:300; word-spacing: 0; text-align:center;
	background:url(/images/zocbo_rn/sub/common/ico_qAlist.gif) no-repeat right 6px;
}
.rnpaySection3 .tmenu dd li b {font-weight:600; font-size:95%; position:absolute; left:2.5em; top:.6em; color:#333;}
.rnpaySection3 .tmenu li dt em {
	position:absolute; width:15px; height:11px; right:17px; top:18px;
	background:url(/images/zocbo_rn/sub/common/arrow_up.gif) no-repeat;
}
.rnpaySection3 .tmenu li dt em.on {background:url(/images/zocbo_rn/sub/common/arrow_down.gif) no-repeat;}
.rnpayPlus {position:absolute; right:2px; top:10px;}

.rnpaySection3 .tmenu> li .qAttl {word-spacing:0; margin-bottom:10px;}
.rnpaySection3 .tmenu> li .qAttllist {}
.rnpaySection3 .tmenu> li .qAttllist>li {word-spacing:0; }
.qAGab {padding-left:12px;}
.qAPoint {color:#000;}
.qAPoint.qAPointdeco {color:#000; text-decoration:underline;}
.zpayPointTop {margin-bottom:31px;}
.zpayPointTable {border-top:1px solid #444; border-bottom:1px solid #444;}
.zpayPointTable tbody tr td {height:135px; border-top:1px solid #f5f5f5;}
.zpayPointTable tbody tr td.zppBoxTd {text-align:right;  background:url(/images/zocbo_rn/sub/common/zppointbar1x58.gif) no-repeat right center;}
.zpayPointTable tbody tr:first-child {border-top:none;}

.zpayPointTable .usebuy_chekdiv .usebuy_cheklist>li:last-child {margin:0 0 0 0;}
.zpayPointTable .usebuy_chekdiv .usebuy_cheklist>li label{
	display: inline-block;
	height: 18px;
	padding-left: 17px;
	background: url(/Images/zocbo_rn/sub/common/chbox_h14.png) no-repeat left 3px;
	font-size: 15px;
	line-height: 20px;
	color: #434343;
	letter-spacing: -1px;
	font-family: 'Noto Sans Korean', Sans-Serif;
	font-weight:400;
	cursor: pointer; word-spacing: 0;
}
.zpayPointTable .usebuy_chekdiv .usebuy_cheklist>li input[type="checkbox"]:checked + label{
	background: url(/Images/zocbo_rn/sub/common/chbox_h14on.png) no-repeat;
	background-position: left -25px;
}
.zpayPointTable .usebuy_chekdiv .usebuy_cheklist>li input[type="checkbox"]:disabled + label{
	background-position: left 3px;
}
.zppBox {padding-right:28px;}
.zppBox .zpptop {
	padding:0 11px 9px 0; font-size:21px; line-height:21px; color:#999;
	font-weight: 400; word-spacing:0; letter-spacing:-1px; position:relative;
	font-family:'Roboto','Noto Sans KR', sans-serif;
}
.zppBox .zpptop span {
	font-size:18px;
	font-family: 'Noto Sans Korean', Sans-Serif;
	font-weight: 400; word-spacing:0; letter-spacing:-1px; 
}
.zppBox .zpptop em {margin-top:1px;}
.zppBox .zpptop:before {
    content:"";
    width:136px;
    height:15px;
	position:absolute;
	right:0; top:10px;
	background:url(/images/zocbo_rn/sub/common/bg_tdecoGray.png) no-repeat;
}

.zppBox .zppBot span {
	font-size:20px; font-family: 'Noto Sans Korean', Sans-Serif;
	font-weight: 500; word-spacing:0; letter-spacing:-1px; 
}

.zppBox .zppBot {width:86%; padding-left:30px; display:table; text-align:right;}
.zppBox .zppBot span {display:table-cell; vertical-align:middle;}
.zppBox .zppBot span.zppBottxt {
	font-size:20px; font-family: 'Noto Sans Korean', Sans-Serif;
	font-weight: 500; word-spacing:0; letter-spacing:-1px; 
}
.zppBox .zppBot span.zppBottxt2 {
	font-size:32px; line-height:32px; color:#061724;
	font-weight: 700; word-spacing:0; letter-spacing:-1px; position:relative;
	font-family:'Roboto','Noto Sans KR', sans-serif;
}
.zppBox .zppBot span.zppBottxt3 {
	font-size:20px; font-family: 'Noto Sans Korean', Sans-Serif;
	font-weight: 500; word-spacing:0; letter-spacing:-1px; 
}


